/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-may-2021, 21:18:07
    Author     : supee
*/


Button {
    -fx-background-color: none;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #00000081;
}
Button:hover {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-color: gray;
}

TextField {
    -fx-background-color: gainsboro;
    -fx-border-radius: 5;
}
TextField:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

PasswordField {
    -fx-background-color: gainsboro;
}

VBox {
    -fx-background-color: white;
}

.confirmarButton:hover {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.username .password {
    -fx-background-color: gainsboro;
    -fx-border-radius: 5;
}
.username:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.password:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.logInButton {
    -fx-background-color: none;
    -fx-border-radius: 20;
    -fx-border-color: #00000081;
}
.logInButton:hover {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-text-fill: white;
}
.rememberPassword:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}
.createNewAccount:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-underline: true;
}

.editarPerfil {
    -fx-background-color: lightgray;
}
.editarPerfil:hover {
    -fx-background-color: gray;
}
.historialDePartida {
    -fx-background-color: lightgray;
}
.historialDePartida:hover {
    -fx-background-color: gray;
}
.cerrarSesion {
    -fx-background-color: lightgray;
    -fx-border-color: red;
}
.cerrarSesion:hover {
    -fx-background-color: red;
}

.cambiarAvatar {
    -fx-background-color: none;
    -fx-border-color: #00000081;
    -fx-border-radius: 20;
}
.cambiarAvatar:hover {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    
    -fx-cursor: hand;
}
.usernameText {
    -fx-background-color: gainsboro;
}
.usernameText:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.emailText {
    -fx-background-color: gainsboro;
}
.emailText:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.rePassword {
    -fx-background-color: gainsboro;
}
.rePassword:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
.password {
    -fx-background-color: gainsboro;
}

.dataPicker {
    -fx-background-color: gainsboro;
}
.crearusuario {
    -fx-background-color: none;
    -fx-border-color: #00000081;
    -fx-border-radius: 20;
}
.crearusuario:hover {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    
    -fx-cursor: hand;
}
.cancelarButton {
    -fx-background-color: none;
    -fx-border-color: #00000081;
    -fx-border-radius: 20;
}
.cancelarButton:hover {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    
    -fx-cursor: hand;
}

.buscarImagen:hover {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-text-fill: white;
}