/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2021, 1:57:49 AM
    Author     : CrazyJMB
*/

Button {
    -fx-background-color: none;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #00000081;
}

Button:hover {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-text-fill: white;
}

TextField {
    -fx-background-color: gainsboro;
    -fx-border-radius: 5;
}

TextField:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}