/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2021, 1:54:12 PM
    Author     : CrazyJMB
*/


.username .password {
    -fx-background-color: gainsboro;
}

.username:focused {
    -fx-focus-color: #3b3366;
    -fx-faint-focus-color: #3b3340;
    -fx-inner-border: blue;
    -fx-body-color: white;
    
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: -2, -0.3, 1, 2;
    -fx-background-radius: 7, 6, 4, 3;
    
}

.logInButton {
    -fx-background-color: none;
    -fx-border-radius: 20;
    -fx-border-color: #00000081;
}

.logInButton:hover {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.rememberPassword:hover {
    -fx-text-fill: black;
}

.createNewAccount:hover {
    -fx-text-fill: black;
}
