/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2021, 1:54:12 PM
    Author     : CrazyJMB
*/


.username .password {
    -fx-background-color: gainsboro;
    -fx-border-radius: 5;
}

.username:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.password:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.logInButton {
    -fx-background-color: none;
    -fx-border-radius: 20;
    -fx-border-color: #00000081;
}

.logInButton:hover {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.rememberPassword:hover {
    -fx-text-fill: black;
    
    -fx-cursor: hand;
}

.createNewAccount:hover {
    -fx-text-fill: black;
    -fx-cursor: hand;
}
