/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2021, 12:20:55 AM
    Author     : CrazyJMB
*/

Button {
    -fx-background-color: none;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #00000081;
}

TextField {
    -fx-background-color: gainsboro;
}

PasswordField {
    -fx-background-color: gainsboro;
}

Button:hover {
    -fx-background-color: gray;
}

.editarPerfil {
    -fx-background-color: lightgray;
}

.editarPerfil:hover {
    -fx-background-color: gray;
}

.historialDePartida {
    -fx-background-color: lightgray;
}

.historialDePartida:hover {
    -fx-background-color: gray;
}

.cerrarSesion {
    -fx-background-color: lightgray;
    -fx-border-color: red;
}

.cerrarSesion:hover {
    -fx-background-color: red;
}

.createNewAccount:hover {
    -fx-underline: true;
}