/*
 * Empty Stylesheet file.
 */

VBox {
    -fx-background-color: white;
}

.cambiarAvatar {
    -fx-background-color: none;
    -fx-border-color: #00000081;
    -fx-border-radius: 20;
}

.cambiarAvatar:hover {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    
    -fx-cursor: hand;
}

.usernameText {
    -fx-background-color: gainsboro;
}

.usernameText:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.emailText {
    -fx-background-color: gainsboro;
}

.emailText:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.password {
    -fx-background-color: gainsboro;
}

.password:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.rePassword {
    -fx-background-color: gainsboro;
}

.rePassword:focused {
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-border-radius: 5;
}

.dataPicker {
    -fx-background-color: gainsboro;
}

.crearusuario {
    -fx-background-color: none;
    -fx-border-color: #00000081;
    -fx-border-radius: 20;
}

.crearusuario:hover {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    
    -fx-cursor: hand;
}

.cancelar {
    -fx-background-color: none;
    -fx-border-color: #00000081;
    -fx-border-radius: 20;
}

.cancelar:hover {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    
    -fx-cursor: hand;
}
